<!-- <section id="vlog">
    <h2 class="text-center">OJT Vlog</h2>
    <video controls>
      <source src="./videos/OJT Blog.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </section> -->

<!-- <section id="ojt-documentation">
    <h2 class="text-center">Weekly Documentation</h2>
    <div class="card-container">
      <mat-card
        *ngFor="let item of documentation; let i = index"
        appearance="outlined"
        class="card pointer"
        matRipple
        [routerLink]="['/documentation/week/', item.week]"
        routerLinkActive="router-link-active"
        [matRippleColor]="'rgba(255, 255, 255, 0.05)'"
      >
        <mat-card-header>
          <mat-card-title>Week # {{ item.week }}</mat-card-title>
          <mat-card-subtitle>{{ item.span }}</mat-card-subtitle>
          <img style="margin-left: auto" class="image-contain" mat-card-sm-image [src]="item.preview_image" alt="Image of documentation" />
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.preview_documentation }}</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Click to see more...</p>
        </mat-card-footer>
      </mat-card>
    </div>
  </section> -->
