<div class="flex flex-col items-center mx-auto py-16 px-4 lg:py-32 max-w-5xl gap-16 text-white!">
  <section id="about" class="flex flex-col sm:flex-row items-center gap-16 sm:gap-4">
    <div class="flex flex-2 flex-col items-center gap-2">
      <div class="overflow-hidden h-[60vh] bg-gradient-to-t from-bg-blue-800 to-bg-blue-200 rounded-lg p-4 z-2">
        <img class="h-full w-full object-contain" src="./images/Legarde.png" />
      </div>
      <h3 class="text-xl">Full Stack Web Developer</h3>
    </div>
    <div class="flex-3">
      <div class="flex flex-col gap-8">
        <h2 class="text-4xl uppercase tracking-wide">About Me</h2>
        <p>
          Hello! I’m Raven Andre D. Legarde, a 4th year BSIT student currently studying at Gordon College. I’m passionate to put my knowledge and skills that i
          have acquired throughout my course to use. I’m also very open in learning new skills, and I’m excited to gain practical knowledge by exposing myself
          in an IT work field.
        </p>
        <a href="./images/Legarde-Resume.png" target="_blank" class="w-fit">
          <button mat-raised-button style="width: fit-content">View Resume</button>
        </a>
        <div class="flex gap-2">
          <a href="https://www.facebook.com/ravenandre.legarde" target="_blank">
            <button mat-icon-button>
              <span class="mdi mdi-facebook text-white"></span>
            </button>
          </a>

          <a href="https://www.linkedin.com/in/raven-legarde-89756717a/" target="_blank">
            <button mat-icon-button>
              <span class="mdi mdi-linkedin text-white"></span>
            </button>
          </a>

          <a href="https://github.com/Raveniis" target="_blank">
            <button mat-icon-button>
              <span class="mdi mdi-github text-white"></span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="skills">
    <h2 class="text-center">Skills</h2>
    <div class="tech-skills">
      <div class="skill-card" *ngFor="let skill of skills">
        <img [src]="skill.src" [alt]="skill.alt" />
        <p>{{ skill.alt }}</p>
      </div>
    </div>
  </section> -->

  <!-- <section id="vlog">
    <h2 class="text-center">OJT Vlog</h2>
    <video controls>
      <source src="./videos/OJT Blog.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </section> -->

  <!-- <section id="ojt-documentation">
    <h2 class="text-center">Weekly Documentation</h2>
    <div class="card-container">
      <mat-card
        *ngFor="let item of documentation; let i = index"
        appearance="outlined"
        class="card pointer"
        matRipple
        [routerLink]="['/documentation/week/', item.week]"
        routerLinkActive="router-link-active"
        [matRippleColor]="'rgba(255, 255, 255, 0.05)'"
      >
        <mat-card-header>
          <mat-card-title>Week # {{ item.week }}</mat-card-title>
          <mat-card-subtitle>{{ item.span }}</mat-card-subtitle>
          <img style="margin-left: auto" class="image-contain" mat-card-sm-image [src]="item.preview_image" alt="Image of documentation" />
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.preview_documentation }}</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Click to see more...</p>
        </mat-card-footer>
      </mat-card>
    </div>
  </section> -->
</div>
