<section id="experience" class="flex flex-col gap-8">
  <h2 class="text-center text-4xl uppercase tracking-wide">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
    <mat-card class="border-1 border-blue-500 dark:border-blue-950 bg-white dark:bg-blue-500!">
      <mat-card-header>
        <mat-card-title class="text-black-200! dark:text-gray-200!">Sample Title</mat-card-title>
        <mat-card-subtitle class="text-gray-500! dark:text-gray-400!">Sample Company | June 2023 - September 2023</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage class="max-h-48 object-cover" src="./pictures/Forger.webp" />
      <mat-card-content class="text-black-200! dark:text-gray-200! pt-4!">
        Vivamus vel neque et justo finibus imperdiet eu eu magna. Nulla suscipit sagittis fermentum. Nulla vitae sem a lectus elementum volutpat nec vitae
        libero. Duis a sapien placerat, sollicitudin turpis nec, luctus est. Phasellus auctor malesuada sem, vel pretium erat sollicitudin ac. Nunc commodo
        placerat dui et ultricies. In id posuere est, suscipit condimentum velit.
      </mat-card-content>
      <mat-card-footer class="p-4">
        <button matButton>View Details >></button>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
