@use '@angular/material' as mat;
@use 'tailwindcss';
@use './themes/theme-colors' as theme;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-blue-200: #8892b0;
  --color-blue-300: #636b85;
  --color-blue-400: #3d4459;
  --color-blue-500: #2b3142;
  --color-blue-800: #1e293b;
  --color-blue-900: #171f2c;
  --color-blue-950: #131c2a;
  --secondary-color: #020c1b;
}

// $primary: mat.define-palette(mat.$blue-palette, 500, 300, 700);

* {
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}
html {
  height: 100%;
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

.dark {
  color-scheme: dark;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.mat-icon {
  align-items: center !important;
  vertical-align: middle !important;
}

.mat-dialog-fullscreen .mat-mdc-dialog-container {
  padding: 0;
}

.mat-dialog-fullscreen .mdc-dialog__surface {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

.mat-mdc-card-header-text {
  width: 100%;
}

*::-webkit-scrollbar {
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background: transparent;

  &:hover {
    background: #ffffff10;
  }
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-300);
  border-radius: 999px;
  transition: all 0.4s ease-in-out;

  &:active {
    background-color: var(--color-blue-200);
  }
}

.dark {
  background-color: var(--color-blue-500);

  &:active {
    background-color: var(--color-blue-300);
  }
}
