@use '@angular/material' as mat;
@use 'tailwindcss';

@theme {
  --color-blue-200: #8892b0;
  --color-blue-400: #3d4459;
  --color-blue-800: #1e293b;
  --color-blue-900: #171f2c;
  --color-blue-950: #131c2a;
  --secondary-color: #020c1b;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.mat-icon {
  align-items: center !important;
  vertical-align: middle !important;
}

.mat-dialog-fullscreen .mat-mdc-dialog-container {
  padding: 0;
}

.mat-dialog-fullscreen .mdc-dialog__surface {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
